.profile-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-card {
    margin: 30px;
    border-radius: 25px;
    height: 70vh;
    width: 70vw;
    background: #1e1f20;
    padding: 25px;
    display: flex;
    position: relative;
}

.pfp-container {
    border: 1px solid white;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    overflow: hidden;

    & span {
        font-size: 96px;
        font-weight: 200;
    }
}

.pfp-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pfp-button {
    & span {
        cursor: pointer;
        padding: 10px;
        border-radius: 50%;
    }

    :hover {
        background: #131313;
    }
}

.pfp-container-component {
    position: relative;
}

.pfp-edit-button {
    margin-top: 8px;
    text-align: center;
}

.details-container {
    margin-top: 10px;
}

.detail {
    margin-left: 25px;
    display: flex;
    align-items: center;
    font-size: x-large;
}

.user-details {
    margin-left: 10px;
}

.google-ico-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
}

.signed-in-with-google {
    height: 25px;
}

.note-container {
    position: absolute;
    top: 30px;
    left: 17px;
    width: 250px;
    font-size: large;
    background: #131314;
    padding: 10px;
    border-radius: 0 10px 10px 10px;
}

.logout-btn-container {
    position: absolute;
    bottom: 25px;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.logout-btn {
    font-size: larger;
    padding: 10px 20px;
    border-radius: 15px;
    background: #131313;
    border: 0;
    cursor: pointer;

    &:hover {
        background: #303033;
    }
}
