.chat-tile-navlink {
    all: unset;

    &.active {
        .chat-tile {
            background: #131314;
        }
    }
}

.chat-tile {
    margin: 5px 0px;
    height: 50px;
    border-radius: 40px 0px 0px 40px;
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 90%;
}

.chat-tile:hover {
    background: #303032;
}

.chat-tile-avatar-container {
    flex: 0 0 50px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid rgb(118, 118, 118);
    overflow: hidden;

    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    & span {
        font-size: 36px;
        font-weight: 300;
    }
}

.chat-tile-detils-container {
    width: 80%;
    margin-left: 5px;
}

.chat-tile-username-container {
    font-weight: 500;
    font-size: large;
}

.chat-tile-content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    /* max-width: 300px; */
    font-size: small;
}

.chat-tile-last-message-container {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    flex-grow: 1;
    margin-right: 5px;
}

.chat-tile-time-container {
    flex-shrink: 0;
    color: rgb(169, 169, 169);
    white-space: nowrap;
}

@media (max-width: 765px) {
    .chat-tile {
        width: 95%;
    }
}

@media (max-width: 350px) {
    .chat-tile {
        width: 90%;
    }
}
