.banner {
    height: 500px;
    width: 1000px;
    object-fit: cover;
}

.tpover {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    height: 30px;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

.play-button-link {
    all: unset;
}

.play-button {
    all: unset;
    position: absolute;
    right: 5%;
    bottom: 10%;
    z-index: 1;
    background: #131314;
    font-size: 2rem;
    cursor: default;
    border-radius: 15px;
    font-weight: 500;
    padding-inline: 10px;
}

.carasoul {
    position: relative;
}

.carasoul button {
    cursor: pointer;
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: rgba(255, 0, 34, 0.5) 0px 0px 15px;
    }
}

.splide__pagination__page:focus,
.splide__arrow:focus {
    outline: 3px solid rgba(255, 0, 34, 0.5) !important;
    transition: outline 0.3s ease;
}
