.banner {
    width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
}

.tpover {
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    height: 30px;
    width: 100%;
    bottom: 0;
    z-index: 1;
}

.play-button-link {
    all: unset;
}

.play-button {
    all: unset;
    position: absolute;
    right: 5%;
    bottom: 10%;
    z-index: 1;
    background: #131314;
    font-size: 2rem;
    cursor: default;
    border-radius: 15px;
    font-weight: 500;
    padding-inline: 10px;
}

.carasoul button {
    cursor: pointer;
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: rgba(255, 0, 34, 0.5) 0px 0px 15px;
    }
}

.splide__pagination__page:focus,
.splide__arrow:focus {
    outline: 3px solid rgba(255, 0, 34, 0.5) !important;
    transition: outline 0.3s ease;
}

@media (max-width: 750px) {
    .play-button {
        right: 3%;
        font-size: 1.5rem;
        border-radius: 10px;
        font-weight: 400;
    }
}

@media (max-width: 600px) {
    .tpover {
        height: 15px;
    }

    .splide__pagination__page {
        height: 4px !important;
        width: 4px !important;
    }

    .splide__arrow {
        height: 16px !important;
        width: 16px !important;

        & svg {
            height: 0.6em !important;
            width: 0.6em !important;
        }
    }

    .play-button {
        display: none;
    }
}
