.carasoulContainer {
    width: 1000px;
    height: min-content;
    margin-inline: 50px;
    background-color: #121212;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.3s ease;
}

.carasoulContainer:hover {
    box-shadow: rgba(255, 0, 34, 0.5) 0px 0px 25px;
}

.game-data-style {
    margin-inline: 50px;
    display: flex;
    justify-content: space-between;
}

.game-data-style {
    margin-top: 10px;
}

.game-description {
    width: 75%;
    font-weight: 200;
}
