.game-page-container {
    display: flex;
}

.lb-container {
    height: min-content;
    width: 100%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    background-color: #121212;
    border-radius: 30px;
}
