.leaderboard-container {
    width: 100%;
    margin-left: 20px;
    padding: 15px;
    background: #1e1f20;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.leaderboard,
.leaderboard table {
    width: 100%;
}

.leaderboard table {
    text-align: center;
    border-spacing: 0px 10px;
}

.leaderboard td,
.leaderboard th {
    height: 34px;
}

tbody tr:nth-child(even) td {
    background: #46494b;
}

.leaderboard td:first-child,
.leaderboard th:first-child {
    border-radius: 15px 0 0 15px;
}

.leaderboard td:last-child,
.leaderboard th:last-child {
    border-radius: 0 15px 15px 0;
}

.leaderboard tfoot,
.leaderboard-header {
    background: rgb(98, 0, 13);
}

.leaderboard tfoot::before {
    height: 25px;
    content: "";
    display: block;
    background: #1e1f20;
}

.leaderboard td:nth-child(2) {
    max-width: 100px;
    overflow: hidden;
}
