.profile-card-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pfcontainer {
    position: relative;
    border-radius: 15px;
    box-shadow: rgba(255, 0, 34, 0.5) 0px 0px 25px;
    height: 75vh;
    background-color: #121212;
}

.topbarpf {
    justify-content: center;
    padding: 7px;
    font-size: 24px;
    display: flex;
    border-radius: 15px 15px 0 0;
    box-shadow: 0px 8px 17px rgba(255, 0, 34, 0.25);
}

.details {
    margin: 25px 10px;
    padding-inline: 20px;
}

.details > div {
    display: flex;
}

.data-label-container {
    margin-block: 10px;
    align-items: center;
}

.profile-label {
    width: 100px;
}

.profile-data {
    height: 35px;
    min-width: 15vw;
    border-radius: 15px;
    background-color: #343434;
    position: relative;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.profile-data span {
    cursor: pointer;
    font-size: 25px !important;
    padding: 5px;
    position: absolute;
    right: 5px;
}

.profile-data span:hover {
    background-color: #121212;
    border-radius: 50%;
}

/* Sign Out Button  */

#SignOutButtonContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 30px;
    width: 100%;
}

#SignOutButton {
    all: unset;
    border-radius: 15px;
    box-shadow: rgba(255, 0, 34, 0.5) 0px 0px 17px;
    padding: 10px 15px;
    font-size: large;
    cursor: pointer;
}

#SignOutButton:hover {
    box-shadow: rgba(255, 0, 34, 0.5) 0px 0px 25px;
}

#SignOutButton:active {
    background-color: black;
    transform: translateY(4px);
}
