.game-page-card-container {
    background: #1e1f20;
    border-radius: 20px;
}

.carasoul-container {
    width: 1000px;
    margin: 35px;
    border-radius: 20px;
    background: #131314;
    overflow: hidden;
    position: relative;
    transition: box-shadow 0.3s ease;

    &:hover {
        box-shadow: rgba(255, 0, 34, 0.5) 0px 0px 25px;
    }
}

.game-data-style {
    margin: 20px 35px;
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.game-info {
    max-width: 65%;
    background: #131314;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 30px;
}
