.explore-page {
    display: flex;
    background: #1e1f20;
    height: 75vh;
    margin: 20px;
    border-radius: 35px;
    padding: 20px;
}

.explore-page-navbar {
    width: fit-content;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-right: 10px;
}

.explore-page-navbar-link {
    all: unset;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: #131314;
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 15px;
    text-wrap: nowrap;

    &:hover {
        background: #333335;
    }

    &.active {
        background: #000000;
    }
}

.map-info-window-img-container {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
}

.map-info-window-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.map-info-window-view-profile-button {
    all: unset;
    cursor: pointer;
    background: #1e1f20;
    height: 35px;
    width: 130px;
    border-radius: 30px;
    font-size: 16px;
    text-align: center;

    &:hover {
        background: #424547;
    }
}

.map-info-window-details-container {
    margin-left: 7px;
    text-align: center;
    font-size: 18px;

    & h4 {
        color: #000;
    }
}

.map-info-window-img-container span {
    color: #000;
    font-size: 36px;
    font-weight: 200;
}

@media (max-width: 765px) {
    .explore-page {
        height: 81vh;
    }
}

@media (max-width: 600px) {
    .explore-page {
        flex-direction: column;
        height: 85vh;
        margin: 10px;
        padding: 10px;
    }

    .explore-page-navbar {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        height: unset;
        margin-right: 0px;
    }
}
