* {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-family: "Mukta", sans-serif;
}

body {
    background: #131314 !important;
}

::-webkit-scrollbar {
    width: 2px;
    background: #343434;
}

::-webkit-scrollbar-thumb {
    background: rgb(98, 0, 13);
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(140, 4, 22);
}

.disp-flx {
    display: flex;
    align-items: center;
    justify-content: center;
}
